<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <style>
        body {
            font: 16px Arial, sans-serif;
        }

    </style>
</head>
<body style="background: #cccccc; height: 200px ">
<div style="margin: 20px; padding: 30px; background: #ffffff;">
    <h4 th:text="'Hi ' + ${name} + ','">Hi User,</h4>
    <p>
        Please follow the link below to reset your password.
    </p>
    <span>Link: <a th:text="${link}" th:href="${link}" href="http://localhost:8080">http://localhost:8080</a></span>
    <br/>
    <h4>System Team</h4>
</div>
</body>
</html>