<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Welcome</title>
    <style>
        body {
            font: 16px Arial, sans-serif;
        }

    </style>
</head>
<body style="background: #cccccc; height: 200px ">
    <div style="margin: 20px; padding: 30px; background: #ffffff;">
        <h4 th:text="'Welcome ' + ${name} + ','">Welcome User,</h4>
        <p>
            Your account was created in the system. Please find your username and password below
        </p>
        <span>Email    : <strong th:text="${email}">user@email.com</strong></span>
        <br/>
        <span>Password: <strong th:text="${password}">password</strong></span>
        <br/>
        <span>For more info please visit <a th:text="${link}" th:href="${link}" href="http://localhost:8080/reset-password?token=123">here</a></span>
        <h4>System Team</h4>
    </div>
</body>
</html>